*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# S.A.M. specific
.venv/
__pycache__/
*.pyc
dist/
build/
*.egg-info/
.data/
data/
logs/
*.db
.cache/
.cache_dir/
.DS_Store
